<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326208658236-acughab8dkrke9iujkbs5ethdab2cfb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326208658236-acughab8dkrke9iujkbs5ethdab2cfb4</string>
	<key>API_KEY</key>
	<string>AIzaSyCICvpzz8dYU2GyU3O2QO9N82oRjYDHmhA</string>
	<key>GCM_SENDER_ID</key>
	<string>326208658236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.words</string>
	<key>PROJECT_ID</key>
	<string>words-e862a</string>
	<key>STORAGE_BUCKET</key>
	<string>words-e862a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326208658236:ios:4ed8a6ce688664fa595c39</string>
	<key>DATABASE_URL</key>
	<string>https://words-e862a-default-rtdb.firebaseio.com</string>
</dict>
</plist>